.about {
	grid-area: about;
	align-items: center;
	row-gap: 40px;
	display: grid;
	grid-template:
		"describe" auto
		"content" auto / 1fr;
	scroll-margin-top: 100px;
}

.about .describe {
	grid-area: describe;
	display: flex;
	flex-direction: column;
	row-gap: 1rem;
	justify-self: center;
	padding: 0 20%;
}

.about .describe > :first-child {
	border-radius: 100%;
}

.about .describe p {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;
}

.about .describe p span:nth-child(1) {
	font-size: 1.5rem;
}

.about .describe p span:nth-child(2) {
	font-size: 2rem;
}

.about .content {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	flex: 1 1 100%;
}

.about .link {
	display: flex;
	justify-content: flex-end;
}

.about a {
	width: var(--svg-icon-width);
}

/* dark mode */
.app.dark .about .describe p {
	font-weight: 500;
}
.app.dark .about .describe span:nth-child(1) {
	color: var(--dark-scheme-highlight-color);
}
.app.dark .about .link a:hover {
	color: var(--dark-scheme-highlight-color);
}

/* light mode */
.app.light .about .describe p {
	font-weight: 700;
}
.app.light .about .describe span:nth-child(1) {
	color: var(--light-scheme-highlight-color);
}
.app.light .about .link a:hover {
	color: var(--light-scheme-highlight-color);
}

@media (min-width: 1025px) {
	.about {
		flex-direction: row;
	}
}
