.app {
	display: grid;
	row-gap: 20px;
	grid-template:
		"header" auto
		"main" auto
		"footer" auto;
}

.app.dark {
	font-weight: 300;
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-bgc);
}

.app.dark img {
	filter: brightness(0.8) contrast(1.2);
}

.app.light img {
	filter: brightness(1) contrast(1);
}

.app.dark h1 {
	font-weight: 400;
}

.app.light {
	font-weight: 400;
	color: var(--light-scheme-color);
	background-color: var(--light-scheme-bgc);
}

.app.light h1 {
	font-weight: 700;
}

.app main {
	display: grid;
	row-gap: 20px;
	grid-template:
		"about" auto
		"products" auto;
}
