.app {
	height: 100vh;
	display: grid;
	overflow: scroll;
	position: relative;
	scroll-behavior: smooth;
	grid-template:
		"header" auto
		"main" auto
		"footer" auto
		/ auto;
}

.app.unScroll {
	overflow: hidden;
}

.app main {
	position: relative;
}

.app main > div:nth-child(2) {
	display: grid;
	row-gap: 40px;
	grid-template:
		"about" auto
		"products" auto
		"contact" auto
		/ auto;
	padding: 20px;
}

.app main .backdrop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	backdrop-filter: blur(4px);
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: all 0.3s cubic-bezier(0.58, 0.5, 0.42, 0.1);
}

.app main .backdrop.blur {
	visibility: visible;
	opacity: 1;
	transition: all 0.3s ease-in-out;
}

.app .loading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.app .imageWrap {
	position: relative;
	overflow: hidden;
}

.app .imageLoading {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	transform: translateX(-100%);
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
	animation-name: shimmer;
	animation-timing-function: linear;
}

@keyframes shimmer {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}

/* dark mode */
.app.dark {
	font-weight: 300;
	color: var(--dark-scheme-color);
	background-color: var(--dark-scheme-bgc);
}
.app.dark h1 {
	font-weight: 400;
}
.app.dark img {
	filter: brightness(0.8) contrast(1.2);
}
.app.dark h2 {
	font-weight: 400;
	color: var(--dark-scheme-highlight-color);
}
.app.dark h3 {
	font-weight: 400;
}

.app.dark .imageWrap {
	background-color: var(--dark-scheme-color);
}

.app.dark .imageLoading {
	background: linear-gradient(
		to right,
		var(--dark-scheme-color) 8%,
		var(--dark-image-load-gradient) 18%,
		var(--dark-scheme-color) 33%
	);
}

/* light mode */
.app.light {
	font-weight: 400;
	color: var(--light-scheme-color);
	background-color: var(--light-scheme-bgc);
}
.app.light a,
.app.light button {
	outline-color: var(--light-scheme-color);
}
.app.light h1 {
	font-weight: 700;
}
.app.light img {
	filter: brightness(1) contrast(1);
}
.app.light h2 {
	font-weight: 700;
	color: var(--light-scheme-highlight-color);
}
.app.light h3 {
	font-weight: 700;
}

@media (min-width: 769px) {
	.app main > div:nth-child(2) {
		margin: 0 5%;
	}
}

@media (min-width: 1025px) {
	.app {
		font-size: 1.2rem;
	}
	.app main > div:nth-child(2) {
		margin: 0 10%;
	}
}
