footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	border-top: 1px solid transparent;
	padding: 20px 0;
}

.app.dark footer {
	border-top-color: var(--dark-scheme-color);
}

.app.light footer {
	box-shadow: -1px 0px 12px -5px var(--light-scheme-color);
}

footer a {
	width: var(--svg-icon-width);
}

/* dark mode */
.app.dark footer a:hover {
	color: var(--dark-scheme-highlight-color);
}

/* light mode */
.app.light footer a:hover {
	color: var(--light-scheme-highlight-color);
}
