footer {
	grid-area: footer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 10px;
	border-top: 1px solid transparent;
	padding: 20px 0;
}

.app.dark footer {
	border-top-color: var(--dark-scheme-color);
}

footer a {
	width: var(--svg-icon-width);
}
