header {
	padding: 10px 20px;
	grid-area: "header";
	border-bottom: 1px solid;
}

.app.dark header {
	border-bottom-color: var(--dark-scheme-color);
}

.app.light header {
	border-bottom-color: var(--light-scheme-color);
}

nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav h1 {
	font-family: "Dancing Script";
	text-align: center;
}

nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
}

nav ul a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

nav ul button,
nav ul a {
	width: var(--svg-icon-width);
}
