.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform 0.3s cubic-bezier(0.58, 0.5, 0.42, 0.1);
	transform: translateY(100%);
	z-index: 2;
	overflow: scroll;
	scrollbar-width: none;
}

.modal::-webkit-scrollbar {
	display: none;
}

.modal.unScroll {
	overflow: hidden;
}

.modal.show {
	transform: translateY(0%);
	transition: transform 0.3s ease-in-out;
}

.modal .padding {
	padding-bottom: 40%;
	position: relative;
	z-index: 1;
}

.productModal {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
	padding: 20px;
}

.productModal .close {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--svg-icon-width);
	height: var(--svg-icon-width);
	transition: all 0.3s ease;
}

.productModal .close:active {
	transform: scale(0.5);
}

.productModal .close::after,
.productModal .close::before {
	position: absolute;
	content: "";
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	height: 5px;
	border-radius: 10px;
	border: 3px;
}

.productModal .close::after {
	transform: rotate(45deg);
}

.productModal .close::before {
	transform: rotate(-45deg);
}

.productModal .describe {
	display: flex;
	justify-content: space-between;
	margin: 40px 0px;
}

.productModal .describe h3 {
	flex: 1 1 100%;
	font-size: 2rem;
	font-weight: bolder;
}

.productModal .describe div {
	flex: 1 1 100%;
}

.productModal ul {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

/* dark */
.app.dark .modal {
	background-color: var(--dark-scheme-bgc);
	border-color: var(--dark-scheme-color) var(--dark-scheme-color) transparent
		var(--dark-scheme-color);
}

.app.dark .productModal .close::after,
.app.dark .productModal .close::before {
	background-color: var(--dark-scheme-highlight-color);
}

/* light */
.app.light .modal {
	background-color: var(--light-scheme-bgc);
	border-color: var(--light-scheme-color) var(--light-scheme-color)
		transparent var(--light-scheme-color);
}

.app.light .productModal .close::after,
.app.light .productModal .close::before {
	background-color: var(--light-scheme-highlight-color);
}

@media (min-width: 481px) {
	.modal {
		left: 10%;
		right: 10%;
	}
}

@media (min-width: 1025px) {
	.modal {
		left: 15%;
		right: 15%;
	}
}
