.products {
	grid-area: products;
	display: flex;
	flex-direction: column;
	row-gap: 10px;
	margin-bottom: 40px;
}

/* dark */
.app.dark .products .link a {
	border-color: var(--dark-scheme-color);
}
.app.dark .products .link a:nth-child(1) {
	border-color: var(--dark-scheme-highlight-color);
	color: var(--dark-scheme-highlight-color);
}

.app.dark .products .link a img {
	filter: invert(87%) sepia(11%) saturate(13%) hue-rotate(317deg)
		brightness(78%) contrast(85%);
}
.app.dark .products .link a:nth-child(1) img {
	filter: invert(74%) sepia(21%) saturate(1722%) hue-rotate(332deg)
		brightness(102%) contrast(90%);
}

/* light */
.app.light .products .link a {
	border-width: 2px;
	border-color: var(--light-scheme-color);
}

.app.light .products .link a:nth-child(1) {
	border-color: var(--light-scheme-highlight-color);
	color: var(--light-scheme-highlight-color);
}

.app.light .products .link a img {
	filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(324deg) brightness(96%)
		contrast(104%);
}
.app.light .products .link a:nth-child(1) img {
	filter: invert(26%) sepia(94%) saturate(574%) hue-rotate(163deg)
		brightness(93%) contrast(89%);
}

.products ul {
	display: flex;
	flex-direction: column;
	row-gap: 3rem;
}

.products li {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.products li article {
	display: flex;
	flex-direction: column;
	row-gap: 2rem;
}

.products li .wrap {
	display: flex;
	align-items: center;
	justify-content: center;
}

.products li article h3 {
	font-size: 1.2rem;
}

.products .link {
	display: flex;
	column-gap: 2rem;
}

.products .link a {
	border-radius: 10px;
	font-weight: 400;
	padding: 10px;
	border: 1px solid transparent;
}

.products .link a img {
	margin-left: 10px;
	height: 20px;
}

@media (min-width: 481px) {
	.products li .wrap img {
		width: 80%;
	}
}

@media (min-width: 1025px) {
	.products li {
		flex-direction: row;
		column-gap: 2rem;
	}

	.products li .wrap {
		flex: 1 1 100%;

		align-items: center;
	}

	.products li article {
		justify-content: space-between;
		flex: 1 1 100%;
	}

	.products li .link {
		justify-content: flex-end;
	}
}
